{
    "parserOption":{
        "project":["./package.json"],
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures":{
            "jsx":true
        }  
    },
    "env":{
        "browser":true,
        "node":true,
        "es6":true
    },
    "extends":[
        "eslint: recommend",
        "plugin: react/recommended"
    ],
    "plugsin":[
        "import",
        "react-hooks"
    ],
    "rules":{

    }
}